.App {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-list {
  margin-left: 20px;
  text-align: left;
}

ul {
  list-style: none;
  display: inline-block;
}

li.menu-list {
  float:left;
  padding: 15px 0px;

}

li a{
  color: white;
  padding: 16.5px;
  border-right: 1px solid #bbb;
}

.active{
  background-color: #4CAF50;
}

.menu-list :hover{
  background-color: #111;
}


.style-text {
  font-family: 'crimson text';
  font-size: 26px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inputTodos{
  width: 50%;
  margin: 5px auto;
}

.showlisttodos{
  margin-top: 15px;
}

ul.menu-top{
  background-color: #333;
  width: 100%;
}
.actionTodos{
  margin-right: 15px;
}
